<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>https://raw.githubusercontent.com/jlattimer/D365AppInsights/master/Assets/logo.png</IconUrl>
  <ProjectUrl>https://github.com/jlattimer/D365AppInsights</ProjectUrl>
  <LicenseUrl>https://github.com/jlattimer/D365AppInsight/blob/master/LICENSE</LicenseUrl>
  <Authors>Jason Lattimer</Authors>
  <Owners>Jason Lattimer</Owners>
  <Copyright>Copyright (c) 2018 Jason Lattimer</Copyright>
  <Description>Dynamics 365/CE Application Insights logging for C#. This contains the source code files needed to implement Application Insights logging without needing an external assembly reference.</Description>
  <Summary>Dynamics 365/CE Application Insights logging for C#</Summary>
  <Keywords>ApplicationInsights Dynamics365 DynamicsCRM D365 Logging Azure C#</Keywords>
</NuGetPack>